@model FAEmlak.Models.PropertyModel
@using FAEmlak.Helpers
@using FAEmlak.Data
@{
    ViewData["Title"] = "Home Page";
}

<div class="row mb-5">
    <div class="col-md-3 d-flex flex-column">
        <h5>Real Estate</h5>
        <ul class="list-group list-group-flush">
            @foreach (PropertyType propertyType in Enum.GetValues(typeof(PropertyType)))
            {
                String title = EnumHelper<PropertyType>.GetDisplayValue(propertyType);
                
                <li class="list-group-item">@title</li>
                <ul>
                    <li><a asp-controller="Category" asp-action="ListCategories" asp-route-propertyType="@propertyType.ToString()" asp-route-propertyCategory="ForSale">Satilik</a></li>
                    <li><a asp-controller="Category" asp-action="ListCategories" asp-route-propertyType="@propertyType.ToString()" asp-route-propertyCategory="ForRent">Kiralik</a></li>
                    <li><a asp-controller="Category" asp-action="ListCategories" asp-route-propertyType="@propertyType.ToString()" asp-route-propertyCategory="DailyRental">Gunluk Kiralik</a></li>
                </ul>
            }
        </ul>
    </div>
    @* ============================================================================================================================================================================================================ *@
    <div class="col-md-9" style="        background: url('https://www.sahibinden.com/assets/images/emlak-konut-1150:28df29ee426dfc1b128b555510884fcd.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
">
        <div class="container py-5 my-5">
            <div class="row">
                <div class="col-md-12 search-menu">
                    <div class="nav nav-pills" id="nav-tab" role="tablist">
                        <a class="nav-link mr-2" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">İşyeri</a>
                        <a class="nav-link mr-2" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Konut</a>
                        <a class="nav-link mr-2" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Arsa</a>
                        <a class="nav-link mr-2" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Bina</a>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="card">
                                <div class="card-body d-flex flex-row">
                                    <div class="col-md-2 px-2">
                                        <div class="form-group ">
                                            <select id="inputState" class="form-control">
                                                <option selected>Satılık</option>
                                                <option>Kiralık</option>
                                                <option>Günlük Kiralık</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 px-2">
                                        <div class="form-group">
                                            <select id="inputState" class="form-control">
                                                <option selected>Konut</option>
                                                <option>BMW</option>
                                                <option>Audi</option>
                                                <option>Maruti</option>
                                                <option>Tesla</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 px-2">
                                        <div class="form-group ">
                                            <select id="inputState" class="form-control">
                                                <option selected>İl</option>
                                                <option>City</option>
                                                <option>Jazz</option>
                                                <option>Brio</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 px-2">
                                        <div class="form-group ">
                                            <select id="inputState" class="form-control">
                                                <option selected>İlçe</option>
                                                <option>New Delhi</option>
                                                <option>Banglore</option>
                                                <option>Chennai</option>
                                                <option>Jaipur</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 px-2">
                                        <div class="form-group ">
                                            <select id="inputState" class="form-control">
                                                <option selected>Oda Sayısı</option>
                                                <option>1 Lac-5 Lac</option>
                                                <option>5 Lac-10 Lac</option>
                                                <option>10 Lac-15 Lac</option>
                                                <option>15 Lac-20 Lac</option>
                                                <option>20 Lac-25 Lac</option>
                                                <option>25 Lac & Above</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-2 px-2">
                                        <button type="button" class="btn btn-dark">Ara</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
