@model FAEmlak.Models.PropertyModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var ilan in Model.properties)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
            @ilan.Description
        </div>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
